*{
    text-decoration: dashed;
}

/*IMPORT*/

@import "menusnav";
@import "inicio";
@import "mixins";

/*VARIABLES*/

$color-red:rgb(199, 71, 71);
$color-fondo:black;
$color-bordes:rgb(155,9,9);


body {
    background-color: $color-fondo;
}

/*GRID PRINCIPAL*/

.grid {
    height: 100vh;
    margin: 0%;
    display: grid; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 10.4fr 0.1fr; 
    grid-template-rows: 0.5fr 0.3fr 2.2fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "principal principal principal"
    "footer footer footer";
}

/*HEADER*/

.header {
    background-color: rgb(46, 2, 2);
    border-top:solid 5px $color-bordes;
    border-bottom:solid 5px $color-bordes;
    border-left:solid 5px $color-bordes;
    border-right:solid 5px $color-bordes;
    grid-area: header;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
}


h1 {
    color: $color-red;
    font-size: 50px;
    font-family: monospace !important; 
    display: block;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    text-align: center;
    order: 0;

}

#redes {
    right: 20px;
    font-size: 60px;
    color: rgb(155, 9, 9);
    position: fixed;
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: center;
    order: 0;
}

/*PRINCIPAL*/

.principal {
    background-color: $color-fondo;
    border-bottom: solid 5px $color-bordes;
    grid-area: principal;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}
  

.caja1 {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: -1;
    border-radius: 8px;
    box-shadow: 0 2px 2 px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin:20px;
    color: rgb(155, 9, 9);
    font-family: 'Roboto Mono', monospace;
}

.img {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    width: 500px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    border-radius: 8px;
    box-shadow: 0 2px 2 px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin:20px;
}

.caja3 {
    display: block;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 1;
    border-radius: 8px;
    box-shadow: 0 2px 2 px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin:20px; 
}


/*FOOTER*/

.footer {
    background-color: rgb(46, 2, 2);
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "espacio maps horarios";
}

.mediosPago_redesSoc {
    @include cajas_footer (10px,center,$color-red,espacio);
}

.maps {
    @include cajas_footer (10px,center,$color-red,maps);
}

.horarios {
    @include cajas_footer (10px,center,$color-red,horarios);
}

/*Reservas*/

#reservas {
    background-color: rgb(110, 105, 105);
    border: solid 5px white;
    width: 80%;
    color: black;
}

/*Merchandising*/

.container{
    height: auto;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 2px 2 px rgba(0, 0, 0, 0.2);
    color: black;
    overflow: hidden;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.imagenes {
    background-color: black;
    color: $color-red;
    margin: 10px;
}

.imagenes:hover {
    background-color: white;
}

/*Contacto*/

#formulario {
    font-size: 20px;
    color: black;
    width: 80%;
    margin: 10px;
}

#check {display: none;}

.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

/*TRAGOS*/

.containerTragos {
    @extend.container;
    width: 80%;
    align-items: baseline;
}

.fotoTragos {
    background-size: 100% 100%;
}

/*CELULAR*/

@media only screen and (max-width: 768px){
    .grid {
        height: 250vh;
        margin: 0%;
        display: grid; 
        grid-auto-rows: 1fr; 
        grid-template-columns: 100%; 
        grid-template-rows: 5% 5% auto auto;
        gap: 0px 0px; 
        grid-template-areas: 
        "header"
        "nav"
        "principal"
        "footer";
    }

    
    .espacio{display: none;}

    .checkbtn{
        display: block;
        float: right;
    }

    .nav{
        grid-area: nav;
        background-color: rgb(155, 9, 9);
        height: 20px;
    }

    .menuPrincipal{
        position: fixed;
        z-index: 2;
        width: 90%;
        height: 50%;
        background: wheat;
        top: 160px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    .menuPrincipal:hover, .menuPrincipal.active{
        background: wheat;
        color: red;
    }
    #check:checked ~ .menuPrincipal{
        left:0;
    }


    .principal {
        background-color: black;
        border-bottom:solid 5px rgb(155, 9, 9);
        grid-area: principal;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        height: auto;
        align-items: center;
    }

    .caja1 {
        display: block;
        width: 300px;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        order: -1;
        border-radius: 8px;
        box-shadow: 0 2px 2 px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin:20px;
        color: rgb(155, 9, 9);
        font-family: 'Roboto Mono', monospace;
    }
    
    .img {
        margin-top: auto;
        margin-bottom: auto;
        display: block;
        width: 300px;
        max-height: 300px;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;
        align-self: auto;
        order: 0;
        border-radius: 8px;
        box-shadow: 0 2px 2 px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin:20px;
    }
    
    .caja3 {
        display: block;
        width: 300px;
        flex-grow: 2;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        order: 1;
        border-radius: 8px;
        box-shadow: 0 2px 2 px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin:20px; 
    }

    .container{
        width: 100%;
        max-width: 1200px;
        height: auto;
        display: flex ;
        flex-wrap: wrap ;
        justify-content: center;
        margin: auto;
    }
    
    .imagenes{
        width: 200px;
        border-radius: 8px;
        box-shadow: 0 2px 2 px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin:20px;
        text-align: center;
        transition: all 0.25s;
    }

    #reservas {
        background-color: rgb(110, 105, 105);
        border: solid 5px white;
        margin-top: 50px;
        width: 50%;
        color: black;
        margin-left: 100px;
    }

    #formulario {
        font-size: 20px;
        color: black;
        height: 100%;
    }
    

    .footer {
        background-color: rgb(46, 2, 2);
        grid-area: footer;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: "maps" "horarios";
        justify-content: center;
    }
    
    .maps {
        color: $color-red;
        grid-area: maps;
    }
    
    .horarios {
        color:$color-red;
        grid-area: horarios;
    }
}
